@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Comic Neue', cursive;
}

#main {
  margin: 0 auto;
  text-align: center;
}

.bookForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

input {
  margin: 2px 0;
  justify-content: center;
  align-items: center;
}

.add {
  margin-right: -16.5em;
  margin-top: 5px;
  font-weight: 700;
  border-radius: 5px;
  padding: 4px;
  font-family: 'Comic Neue', cursive;
}

@media (max-width: 768px) {
  .add {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
  }
}

#remove {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 1.5em;
}

.author {
  border: 1px solid black;
  border-radius: 3px;
  height: 30px;
  width: 20%;
}

.title {
  border: 1px solid black;
  border-radius: 3px;
  height: 30px;
  width: 20%;
}

#title,
#author {
  font-size: 20px;
}

#author {
  padding-left: 5px;
}

.bookDiv {
  display: flex;
  width: 40%;
  margin: 0 auto;
  justify-content: space-between;
}

.bookTitleAuthor {
  display: flex;
}

.line {
  height: 4px;
  color: aqua;
  width: 100px;
  align-items: center;
  display: flex;
  background-color: red;
}
